@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}
html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #ffffff;
  color: #000000;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.main-container {
  flex-grow: 1;
}
.page-container {
  width: 1200px;
  margin: 0 auto;
}
/* ------------------- Общие стили для всех страниц -------------------- */

.header-menu {
  display: flex;
  width: 1060px;
  margin: 0 auto;
  /* Не могу найти почему блок меню растягивается вниз на лишние, примерно, 7px */
  margin-bottom: -7px;
}
.header-logo {
  width: 140px;
  margin-right: 30px;
}
.menu-list {
  display: flex;
  flex-wrap: wrap;
  width: 460px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.menu-user {
  width: 310px;
  margin-left: auto;
  margin-top: 11px;
}
.menu-user .menu-link {
  min-width: 18px;
  min-height: 18px;
}
.menu-link {
  display: block;
  color: inherit;
  text-decoration: none;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  padding: 20px 17px;
}

.favorits-counter {
  font-size: 10px;
  line-height: 13px;
}
.header-button-link {
  padding: 9px 34px;
  border-radius: 4px;
  background-color: #756257;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
/* ----- подвал с контактами ----- */
.footer-bottom-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.footer-social {
  margin-left: 72px;
  margin-right: 61px;
}
.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}
.footer-social-item {
  width: 20px;
  height: 20px;
  margin-right: 30px;
}
.footer-social-item:last-child {
  margin-right: 0;
}
.footer-phone-link {
  color: inherit;
  text-decoration: none;
  font-size: 40px;
  line-height: 40px;
  width: 720px;
  text-align: center;
  margin-right: 53px;
}
/* -------------------- Стили для index.html --------------------  */

.main-header {
  background: #5f9ea0;
  background-image: url("/images/index/background-top.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding-top: 51px;
  margin-bottom: 63px;
}
.logo {
  display: block;
  margin: 0 auto;
  padding-bottom: 82px;
}
/* ----- слоганы ----- */
.slogan {
  text-align: center;
  margin-bottom: 79px;
}
.slogan-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 23px;
}
.slogan-advantages {
  font-size: 22px;
  line-height: 36px;
  color: #333333;
}
/* ----- advantages & recommendations ----- */
.advantage {
  margin-bottom: 91px;
}
.advantages-list {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.advantages-item {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 384px;
  justify-content: center;
}
.item-town,
.item-bridge {
  background-color: #83b3d3;
  color: #ffffff;
}
.item-house,
.item-souvenirs,
.item-area,
.item-tourists {
  background-color: rgba(131, 179, 211, 0.12);
}
.item-road {
  background-color: rgba(131, 179, 211, 0.2);
}
.item-town-image {
  content: url("/images/index/advantage-1-town.jpg");
}

.item-bridge-image {
  content: url("/images/index/advantage-2-brige.jpg");
}
.advantage-title,
.recommendation-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
}
.advantage-title {
  margin-bottom: 25px;
}
.recommendation-title {
  margin-bottom: 20px;
}
.advantage-description,
.recommendation-description,
.advantage-number {
  color: #333333;
  margin: 0;
}
.advantage-number {
  margin-bottom: 26px;
}
.item-town .advantage-number,
.item-town .advantage-description,
.item-bridge .advantage-number,
.item-bridge .advantage-description {
  color: #ffffff;
}
/* ----- переход к бронированию ----- */
.intrested {
  text-align: center;
  margin-bottom: 93px;
}
.intrested-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 35px;
}
.intrested-text {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin: 0;
  margin-bottom: 52px;
}
.intrested-button {
  display: inline-block;
  width: 575px;
  padding: 15px 0;
  background-color: #756257;
  color: #ffffff;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 10px;
}
/* ----- подписка ----- */
.footer-newsletter {
  background: #117a65;
  background-image: url("/images/index/background-bottom.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #ffffff;
  text-align: center;
  padding: 94px 0 93px 0;
  margin-bottom: 40px;
}
.newsletter-title {
  margin-bottom: 30px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}
.newsletter-text {
  font-size: 22px;
  line-height: 26px;
  padding: 0;
  margin-bottom: 42px;
}
.newsletter-field {
  box-sizing: border-box;
  background-color: #f2f2f2;
  line-height: 26px;
  border: none;
  padding: 0;
  padding: 0 19px 0 22px;
  margin: 0;
  width: 600px;
  height: 60px;
  border-radius: 10px 0 0 10px;
}
.newsletter-button {
  background: #83b3d3;
  color: #ffffff;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  padding: 0;
  margin: 0;
  width: 200px;
  height: 60px;
  border-radius: 0 10px 10px 0;
}
/* ------------- Стили для Catalog.html -------------------- */
.header-search {
  background: #5f9ea0;
  background-image: url("/images/catalog/catalog-background-top.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding: 35px 72px 83px;
  margin-bottom: 44px;
}
.catalog-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  color: #ffffff;
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
}
.breadcrumbs {
  display: flex;
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  list-style-type: none;
  margin-bottom: 45px;
}
.breadcrumbs-link {
  text-decoration: none;
  color: inherit;
  margin-right: 26px;
}
.hotels-filter {
  display: flex;
}
.hotels-filter-group {
  color: #ffffff;
}
.hotels-filter-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
}
.hotels-filter-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.control {
  line-height: 23px;
}
.control-input {
  color: #ffffff;
  background-color: inherit;
  font-size: 18px;
  border: 2px solid #ffffff;
}
.apply-button {
  background: #83b3d3;
  color: #ffffff;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
}
.cancel-button {
  background-color: inherit;
  color: #ffffff;
  font-size: 18px;
  border: none;
}
/* ----- сортировка ----- */
.search-container {
  width: 1058px;
  margin: 0 auto;
}
.sorting {
  display: flex;
  height: 48px;
  margin-bottom: 53px;
  align-items: center;
}
.search {
  font-size: 30px;
  line-height: 39px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-right: 192px;
}
.select-control {
  color: #333333;
  font-size: 18px;
  line-height: 23px;
  padding: 12px 0 13px 19px;
  width: 287px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  margin-right: 81px;
}
.view {
  width: 48px;
  height: 48px;
  box-sizing: border-box;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  margin-right: 8px;
}
.view:last-child {
  margin-right: 0px;
}
.current-view {
  border: 2px solid #000000;
}
/* ----- карточки гостиниц ----- */
.hotels-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 34px;
}
.hotel-card {
  line-height: 23px;
  color: #333333;
}
.hotel-card-title {
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
}
.hotel-card-link {
  background: #756257;
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
}
.add-favorits {
  background: #83b3d3;
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
}
.rating {
  background: #f2f2f2;
  text-decoration: none;
  color: #333333;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
}
.favorite {
  background: #7db54f;
}
.download-more {
  width: 1056px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 30px;
}
.button-more {
  width: 620px;
  padding: 17px 0;
  border-radius: 4px;
  background: #83b3d3;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  border: none;
  text-transform: uppercase;
}
/* ----- пагинация ----- */
.pagination-container {
  display: flex;
  align-items: center;
}
.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  /* border: none; */
}

.pagination-item:not(:last-child) {
  margin-right: 7px;
}
.pagination-item {
}
.pagination-link {
  background: #83b3d3;
  display: block;
  width: 55px;
  height: 55px;
  text-align: center;
  padding-top: 14px;
  box-sizing: border-box;
  border-radius: 4px;
}
.pagination-current {
  background: #f2f2f2;
  color: #000000;
}
.number-hotels {
  color: #333333;
  margin-left: auto;
}
.select-cards {
  color: #333333;
  border: 2px solid #e5e5e5;
  margin-left: 51px;
  width: 160px;
  height: 48px;
  padding-left: 17px;
  border-radius: 4px;
}
.newsletter-catalog {
  background: #ffffff;
}
.newsletter-title-catalog {
  color: #000000;
}
.newsletter-text-catalog {
  color: #333333;
}
