@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;

  margin: 0;
  min-height: 100%;

  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;

  background-color: #e5e5e5;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1200px;
  margin: 0 auto;

  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

/* ------------------- Общие стили для всех страниц -------------------- */

.header-menu {
  position: relative;
  z-index: 2;

  display: flex;
  align-items: center;
  width: 1060px;
  margin: 0 auto;
}

.header-logo {
  position: absolute;

  width: 139px;
  height: 70px;
  margin-right: 30px;
}

.menu-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  width: 550px;
  margin: 0;
  padding: 0;
  margin-left: 169px;

  list-style-type: none;
}

.menu-user {
  justify-content: flex-end;
  width: 320px;
  margin-left: auto;
  margin-right: 15px;
}

.menu-item-current::after {
  position: absolute;
  left: 17px;
  right: 17px;
  bottom: 0px;

  height: 2px;

  background-color: #756257;
  content: "";
}

.menu-link {
  position: relative;

  display: block;
  padding: 20px 17px;

  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: inherit;
  text-decoration: none;
  text-align: center;
}

.menu-link:hover {
  color: #756257;
}

.menu-link:active {
  color: #756257;
  opacity: 30%;
}

.menu-icon {
  fill: #000000;
}

.menu-user-link {
  position: relative;

  justify-content: end;
  display: block;
  padding: 20px 11px 18px;
  min-width: 18px;
  min-height: 18px;
}

.menu-user-link-favorite {
  padding-right: 18px;
}

.menu-user-link:hover .menu-icon {
  fill: #756257;
}

.menu-user-link:active .menu-icon {
  fill: #756257;
  opacity: 30%;
}

.favorits-counter {
  position: absolute;
  top: 11px;
  left: 24px;

  min-width: 20px;
  min-height: 20px;
  padding: 3px;
  box-sizing: border-box;

  font-size: 10px;
  line-height: 13px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;

  overflow: hidden;
  background-color: #7db54f;
  border-radius: 50%;
}

.menu-user-link:active .favorits-counter-number {
  color: #ffffff;
  opacity: 30%;
}

.header-button {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  margin: 0;
  padding: 0;
  margin-top: 5px;
  margin-bottom: 5px;
}

.header-button-link {
  display: flex;
  justify-content: center;

  width: 160px;
  padding: 9px 15px;
  box-sizing: border-box;

  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #756257;
  border-radius: 4px;
}

.button-brown:hover {
  background-color: #615048;
}

.button-brown:focus-visible {
  outline: none;
  background-color: #615048;
  box-shadow: 0px 0px 0px 3px #83b3d3;
}

.button-brown:active {
  background-color: #615048;
  box-shadow: 0px 0px 0px 3px #ffffff;
}

.button-brown:active .button-brown-text {
  opacity: 30%;
}

/* ----- подвал с контактами ----- */

.footer-bottom-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-bottom: 30px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  width: 150px;
  margin: 0;
  padding: 0;
  margin: 0 60px 0 52px;

  list-style-type: none;
}

.footer-social-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;
  margin-right: 4px;

  border-radius: 10px;
}

.icon-social {
  fill: #83b3d3;
}

.footer-social-icon:hover .icon-social {
  fill: #68a2ca;
}

.footer-social-icon:active .icon-social {
  fill: #68a2ca;
  opacity: 30%;
}

.footer-social-icon:focus-visible {
  box-shadow: inset 0 0 0 3px #83b3d3;
  outline: none;
}

.footer-social-icon:focus .icon-social {
  fill: #68a2ca;
}

.footer-social-item:last-child {
  margin-right: 0;
}

.footer-phone-link {
  width: 400px;
  padding: 15px;
  margin-top: 4px;

  font-size: 40px;
  line-height: 40px;
  color: inherit;
  text-decoration: none;
  text-align: center;

  border-radius: 10px;
}

.footer-phone-link:hover {
  color: #756257;
}

.footer-phone-link:active {
  color: #756257;
  opacity: 30%;
}

.footer-phone-link:focus-visible {
  color: #756257;
  outline: none;
  box-shadow: inset 0 0 0 3px #83b3d3;
}

.about {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 160px;
  height: 70px;
  margin: 0 50px;

  border-radius: 10px;
}

.about-icon {
  fill: #000000;
}

.about:hover .about-icon {
  fill: #756257;
}

.about:active .about-icon {
  fill: #756257;
  opacity: 30%;
}

.about:focus-visible {
  outline: none;
  box-shadow: inset 0 0 0 3px #83b3d3;
}

.about:focus .about-icon {
  fill: #756257;
}

/* -------------------- Стили для index.html --------------------  */

.main-header {
  position: relative;

  padding-top: 51px;
  margin-bottom: 63px;

  background-color: #5f9ea0;
  background-image: url("../images/index/background-top.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.main-header::after {
  position: absolute;
  right: 0px;
  bottom: 0;
  left: 0px;

  height: 57px;

  background-image: url("../images/index/background-bottom-mask.svg");
  content: "";
}

.logo {
  display: block;
  margin: 0 auto;
  padding-bottom: 82px;
}

/* ----- слоганы ----- */

.slogan {
  margin: 0 240px 79px;

  text-align: center;
}

.slogan-title {
  margin-bottom: 30px;

  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.slogan-advantages {
  font-size: 22px;
  line-height: 36px;
  color: #333333;
}

/* ----- advantages & recommendations ----- */

.advantage {
  margin-bottom: 91px;
}

.advantages-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "town town town"
    "house food souvenirs"
    "bridge bridge bridge"
    "area road tourists";

  margin: 0;
  padding: 0;

  text-align: center;

  list-style-type: none;
}

.advantages-item {
  display: flex;
  flex-direction: column;
  align-items: center;

  min-height: 384px;
  box-sizing: border-box;
}

.item-town {
  grid-area: town;
  flex-direction: row;
  align-items: flex-start;
}

.item-bridge {
  grid-area: bridge;
  flex-direction: row;
  align-items: flex-start;
}

.advantage-description,
.recommendation-description,
.advantage-number {
  margin: 0;

  color: #333333;
}

.advantage-title,
.recommendation-title {
  margin: 0;

  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

/* ----------------- */

.item-town-description,
.item-bridge-description {
  padding: 99px 90px 83px;
}

.advantage-title {
  margin-bottom: 29px;
}

.recommendation-title {
  padding-top: 13px;
  margin-bottom: 19px;
}

.advantage-number {
  position: relative;
  margin-bottom: 30px;

  font-family: inherit;
}

.item-area,
.item-road,
.item-tourists {
  padding: 99px 75px 77px;
}

.recommendation {
  padding: 75px 79px;

  background-repeat: no-repeat;
  background-position: center bottom 223px;
}

.recommendation-item-description {
  padding-top: 98px;
}

/* ------------------ */

.item-town,
.item-bridge {
  background-color: #83b3d3;
  color: #ffffff;
}

.item-town .advantage-number,
.item-town .advantage-description,
.item-bridge .advantage-number,
.item-bridge .advantage-description {
  color: #ffffff;
}

.item-house,
.item-souvenirs,
.item-area,
.item-tourists {
  background-color: rgba(131, 179, 211, 0.12);
}

.item-road {
  background-color: rgba(131, 179, 211, 0.2);
}

.item-bridge-image,
.item-town-image {
  object-fit: contain;
}

.item-house .recommendation-item-description {
  background-image: url("../images/index/advantage-icons/house.svg");
  background-repeat: no-repeat;
  background-position: 50% 15px;
}

.item-food .recommendation-item-description {
  background-image: url("../images/index/advantage-icons/burger.svg");
  background-repeat: no-repeat;
  background-position: 50% 17px;
}

.item-souvenirs .recommendation-item-description {
  background-image: url("../images/index/advantage-icons/souvenir.svg");
  background-repeat: no-repeat;
  background-position: 50% 11px;
}

.item-house .recommendation-description {
  padding: 0 25px 0 25px;
}

/* ----- переход к бронированию ----- */

.intrested {
  margin: 0 240px 93px;

  text-align: center;
}

.intrested-title {
  margin: 0;
  margin-bottom: 30px;

  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.intrested-text {
  margin: 0;
  margin-bottom: 55px;

  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.intrested-button {
  display: flex;
  justify-content: center;

  width: 576px;
  padding: 12px 101px;
  margin: 0 auto;

  color: #ffffff;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;

  box-sizing: border-box;
  background-color: #756257;
  border-radius: 10px;
}

/* ----- подписка ----- */

.footer-newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 94px 200px 93px;
  margin-bottom: 21px;

  background-color: #117a65;
  background-image: url("../images/index/background-bottom.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
}

.newsletter-title {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;

  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.newsletter-text {
  padding: 0;
  margin: 0;
  margin-bottom: 45px;
  padding: 0 130px 0 130px;

  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.newsletter-form {
  display: flex;
}

.newsletter-field {
  width: 600px;
  padding: 0;
  padding: 17px 19px 17px 22px;
  margin: 0;

  font-family: inherit;
  font-size: 18px;
  line-height: 26px;

  box-sizing: border-box;
  background-color: #f2f2f2;
  border: none;
  border-radius: 10px 0 0 10px;
}

.newsletter-field:hover {
  background-color: #e6e6e6;
}
.newsletter-field:focus {
  outline: none;
  background-color: #e6e6e6;
  box-shadow: 0 0 0 3px #83b3d3;
}

/* .newsletter-field-error {
  background-color: #ffffff;
  box-shadow: inset 0 0 0 2px #ff5757;
} */

.newsletter-field:disabled {
  opacity: 30%;
}

.newsletter-button {
  width: 200px;
  padding: 0;
  margin: 0;
  padding: 17px 20px;

  font-family: inherit;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;

  border: none;
  background: #83b3d3;
  border-radius: 0 10px 10px 0;

  cursor: pointer;
}

.newsletter-button:hover {
  background: #68a2ca;
  box-shadow: 0 0 0 0;
}

.newsletter-button:focus-visible {
  outline: none;
  background: #68a2ca;
  box-shadow: 0 0 0 3px #756257;
}

.newsletter-button:active {
  background: #68a2ca;
}

.newsletter-button:active .newsletter-button-text {
  opacity: 30%;
}

.newsletter-button:disabled {
  opacity: 30%;
}

/* ------------- Стили для модального окна -------------  */

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;

  display: flex;
  width: 100%;
  height: 100%;

  background-color: rgba(255, 255, 255, 0.8);
}

.modal-container-close {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  padding: 59px 70px 70px 70px;

  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
}

.modal-hotel-search {
  width: 715px;
  min-height: 561px;
  box-sizing: border-box;
}

.modal-close-button {
  position: absolute;
  top: 54px;
  right: 70px;

  width: 53px;
  height: 53px;

  border-radius: 50%;
  border: none;
  background-color: #f2f2f2;
  background-image: url("../images/icons/modal-close.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;

  cursor: pointer;
}

.modal-close-button:hover {
  background-color: #e6e6e6;
}

.modal-close-button:focus-visible {
  outline: none;
  background-color: #e6e6e6;
  box-shadow: 0 0 0 3px #83b3d3;
}

.modal-close-button:active {
  background-color: #e6e6e6;
  opacity: 30%;
}

.modal-title {
  padding: 0;
  margin: 0;
  margin-bottom: 62px;
  margin-left: -2px;

  font-size: 30px;
  line-height: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.form-hotel-search {
  display: grid;
  grid-template-columns: 155px 133px 153px 133px;
}

.modal-text {
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
}

.label-check-in {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  align-self: center;
}

.modal-field {
  width: 420px;
  min-height: 50px;
  padding: 4px 0 5px 19px;
  box-sizing: border-box;

  font-family: inherit;

  border: none;
  border-radius: 4px;
  background-color: #f2f2f2;
  background-image: url("../images/icons/calendar.svg");
  background-repeat: no-repeat;
  background-position: right 19px center;
}

.modal-field:hover {
  background-color: #e6e6e6;
}

.modal-field:focus {
  outline: none;
  background-color: #e6e6e6;
  box-shadow: 0 0 0 3px #83b3d3;
}

.modal-field:active {
  outline: none;
  background-color: #ffffff;
  box-shadow: inset 0 0 0 2px #000000;
}

.modal-field:disabled {
  opacity: 30%;
}

.modal-field:active .modal-text::-webkit-input-placeholder {
  color: #000000;
}

.modal-field:active .modal-text::-moz-placeholder {
  color: #000000;
}

.field-check-in {
  grid-column: 2 / -1;
  grid-row: 1 / 2;
}

.error-message {
  grid-column: 2 / -1;
  grid-row: 2 / 3;

  margin-top: 3px;
  margin-bottom: 17px;

  font-size: 16px;
  line-height: 20px;
  color: #ff5757;
}

.label-check-out {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  align-self: center;
}

.field-check-out {
  grid-column: 2 / -1;
  grid-row: 3 / 4;
}

.success-message {
  grid-column: 2 / -1;
  grid-row: 4 / 5;

  margin-top: 3px;
  margin-bottom: 17px;

  font-size: 16px;
  line-height: 20px;
}

.counter-text {
  display: block;
  padding-top: 5px;
}

.adult-counter-label {
  grid-column: 1 / 2;
  grid-row: 5 / 6;
  align-self: center;
}

.adult-counter {
  position: relative;
  grid-column: 2 / 3;
  grid-row: 5 / 6;

  min-width: 133px;
  min-height: 50px;

  text-align: center;

  background-color: #f2f2f2;
  border-radius: 4px;
}

.kids-counter-label-wrapper {
  position: relative;
  grid-column: 3 / 4;
  grid-row: 5 / 6;

  margin: 0;
  padding: 0;
  margin-top: 5px;
  margin-left: 56px;
}

.kids-counter-label {
}

/* ----- Tooltip ----- */

.tooltip {
  position: absolute;

  margin-top: 9px;
  margin-left: 11px;
}

.kids-counter-tooltip-info {
  width: 25px;
  height: 25px;
  padding: 0;
  margin: 0;
  padding: 5px;

  border: none;
  background-color: #83b3d3;
  border-radius: 50%;
  color: #ffffff;
  overflow: hidden;
}

.kids-counter-tooltip-info:hover {
  background-color: #68a2ca;
}

.kids-counter-tooltip-info:focus-visible {
  outline: none;
  box-shadow: 0 0 0 3px #756257;
}

.tooltip-text {
  position: absolute;
  top: 100%;
  right: 50%;
  z-index: 1;

  display: block;
  width: 256px;
  padding: 20px 18px 24px 22px;
  margin-top: 15px;
  box-sizing: border-box;

  font-size: 16px;
  line-height: 20px;
  color: #ffffff;

  background-color: #333333;
  border-radius: 10px;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.3);
  transform: translateX(50%);
  display: none;
}

.tooltip-text::after {
  position: absolute;
  top: -9px;
  left: 0;
  right: 0;

  width: 19px;
  height: 9px;
  margin-left: auto;
  margin-right: auto;

  content: "";
  background-image: url("../images/icons/tooltip_triangle.svg");
}

.kids-counter-tooltip-info:hover + .tooltip-text,
.kids-counter-tooltip-info:focus + .tooltip-text {
  display: block;
}

.kids-counter {
  position: relative;
  grid-column: 4 / 5;
  grid-row: 5 / 6;

  min-width: 133px;

  text-align: center;

  background-color: #f2f2f2;
  border-radius: 4px;
}

.counter-button {
  width: 25px;
  height: 25px;

  border: none;
  border-radius: 4px;
}

.counter-button:hover {
  opacity: 100%;
}

.counter-button:active {
  outline: none;
}

.counter-button:focus-visible {
  opacity: 100%;
  outline: none;
  box-shadow: inset 0 0 0 3px #83b3d3;
}

.counter-button:disabled {
  opacity: 30%;
}

.button-minus {
  position: absolute;
  top: 50%;
  left: 13px;

  opacity: 30%;

  background: transparent;
  background-image: url("../images/icons/minus.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transform: translateY(-50%);
}

.button-plus {
  position: absolute;

  top: 50%;
  right: 13px;

  opacity: 30%;

  transform: translateY(-50%);
  background: transparent;
  background-image: url("../images/icons/plus.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.modal-button {
  grid-column: 1 / -1;
  grid-row: 7 / 8;

  width: 575px;
  padding: 10px 0 10px 0;
  margin-top: 40px;
  box-sizing: border-box;

  font-family: inherit;
  font-size: 20px;
  line-height: 40px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #83b3d3;
  border: none;
  border-radius: 10px;
}

.modal-button:hover {
  background-color: #68a2ca;
}

.modal-button:focus-visible {
  outline: none;
  background-color: #68a2ca;
  box-shadow: 0 0 0 3px #756257;
}

.modal-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #68a2ca;
}

/* ------------- Стили для Catalog.html ------------- */

.header-search {
  position: relative;

  padding: 36px 72px 75px;
  margin-bottom: 48px;

  background-color: #5f9ea0;
  background-image: url("../images/catalog/catalog-background-top.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.catalog-header-title {
  margin: 0;
  padding: 0;

  font-size: 60px;
  line-height: 68px;
  font-weight: 700;
  color: #ffffff;
}

/* ----- Breadcrumbs ----- */

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;

  padding: 0;
  margin: 0;
  margin-bottom: 41px;
  margin-left: -6px;

  font-size: 16px;
  line-height: 21px;
  color: #ffffff;

  list-style-type: none;
}

.breadcrumbs-item {
  position: relative;

  padding: 3px 8px 3px 8px;
  margin-right: 10px;

  border-radius: 4px;
}

.breadcrumbs-item::after {
  position: absolute;
  top: 2px;
  right: -8px;

  content: url("../images/icons/arrow.svg");
}

.breadcrumbs-item:last-child::after {
  content: none;
}

.breadcrumbs-link {
  text-decoration: none;
  color: #ffffff;
  outline: none;
}

.breadcrumbs-icon {
  fill: #ffffff;
}

.breadcrumbs-item:hover {
  cursor: pointer;
}

.breadcrumbs-item:hover .breadcrumbs-link {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-item:hover .breadcrumbs-icon {
  opacity: 60%;
}
.breadcrumbs-item:focus-within {
  outline: none;
  box-shadow: inset 0 0 0 3px #83b3d3;
}

.breadcrumbs-item:active .breadcrumbs-link {
  color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
}

.breadcrumbs-item:active .breadcrumbs-icon {
  opacity: 30%;
}

/* ----- Фильтр ----- */

.hotels-filter {
  display: flex;
  flex-direction: row;
}

.hotels-filter-group {
  margin: 0;
  padding: 0;

  color: #ffffff;
  border: none;
}

.filter-infrastructure {
  margin-right: 68px;
}

.filter-housing {
  margin-right: 168px;
}

.filter-price {
  margin-right: 80px;
}

.hotels-filter-title {
  margin: 0;
  padding: 0;
  margin-bottom: 29px;

  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
}

.hotels-filter-list {
  padding: 0;
  margin: 0;

  list-style-type: none;
}

.hotels-filter-item:not(:last-child) {
  margin-bottom: 13px;
}

.control {
  position: relative;

  display: block;
  padding-left: 39px;

  line-height: 23px;
}

.control-mark {
  position: absolute;
  left: 0;
  top: 2px;

  width: 20px;
  height: 20px;

  border-radius: 4px;
  background-color: #ffffff;
}

.control:hover > .control-mark {
  background-color: #ffffff;
  opacity: 60%;
}

.control-input[type="checkbox"]:focus-visible + .control-mark {
  outline: none;
  background-color: #ffffff;
  opacity: 60%;
  box-shadow: 0 0 0 3px #83b3d3;
}

.control:active > .control-mark {
  background-color: #ffffff;
  opacity: 30%;
}

.control-input {
  color: #ffffff;

  background-color: inherit;
  font-size: 18px;
  border: 2px solid #ffffff;
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 4px;

  width: 12px;
  height: 10px;

  background-image: url("../images/icons/tick.svg");
  background-repeat: no-repeat;
  content: "";
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 10px;
  height: 10px;

  background-color: #3f5e72;
  border-radius: 50%;
  transform: translate(-50%, -50%);

  content: "";
}

.control-input[type="radio"]:hover + .control-mark,
.control-input[type="radio"]:active + .control-mark {
  opacity: 100%;
}

.hotels-filter-list:focus-within .control-input[type="radio"]:not(:checked) + .control-mark {
  opacity: 100%;
  box-shadow: inset 0 0 0 3px #83b3d3;
}

.control-input[type="radio"]:focus + .control-mark {
  opacity: 100%;
  box-shadow: 0 0 0 3px #83b3d3;
}

.control-input:disabled {
  opacity: 30%;
}

.filter-price .hotels-filter-title {
  margin-bottom: 35px;
}

/* -- Range -- */

.range-wrapper {
  position: relative;

  display: flex;
}

.range-control-input {
  width: 143px;
  min-height: 48px;
  padding: 10px 0px 10px 16px;
  margin-bottom: 28px;

  font-family: inherit;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;

  background-color: inherit;
  border: 2px solid #ffffff;
  box-sizing: border-box;
}

.input-from {
  border-radius: 4px 0 0 4px;
  border-right: 1px solid #ffffff;
}

.input-to {
  border-radius: 0 4px 4px 0;
  border-left: 1px solid #ffffff;
}

.range-control-input:hover {
  position: relative;
  z-index: 1;

  border-color: rgba(255, 255, 255, 0.6);
}

.range-control-input:focus-visible {
  position: relative;
  z-index: 1;

  outline: none;
  box-shadow: inset 0 0 0 3px #81b3d2, 0 0 0 3px #81b3d2;
}

.range-control-input:active {
  position: relative;

  outline: none;
  border: 2px solid #ffffff;
  background-color: #756257;
  box-shadow: none;
}

.range-control-input:disabled {
  opacity: 30%;
  border-color: #ffffff;
  background-color: rgba(117, 98, 87);
}

.hotels-filter-price {
  position: relative;
}

.input-mark {
  position: absolute;
  top: 12px;
  right: 16px;

  width: 65px;
  height: 20px;

  line-height: 23px;
  text-align: right;
  color: #ffffff;
  opacity: 30%;
  overflow: hidden;
}

.range-scale {
  position: relative;

  width: 287px;
  height: 4px;

  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;
  left: 0;

  height: 4px;
  width: 227px;

  background-color: #ffffff;
}

.range-toggle {
  position: absolute;

  width: 20px;
  height: 20px;

  background-color: #ffffff;
  border: none;
  border-radius: 5px;

  cursor: pointer;
}

.toggle-min {
  top: -8px;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.range-toggle:hover {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}

.range-toggle:focus-visible {
  outline: none;
  box-shadow: 0 0 0 3px #83b3d3, 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}

.range-toggle:active {
  box-shadow: 0 0 0 2px #83b3d3, 0 7px 15px 0 rgba(0, 0, 0, 0.4);
}

/* Кнопки фильтра */

.filter-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 61px;
}

.apply-button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 160px;
  min-height: 48px;
  padding: 10px 20px;
  margin-bottom: 15px;

  font-family: inherit;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;

  background: #83b3d3;
  border: none;
  border-radius: 4px;
}

.apply-button:hover {
  background: #68a2ca;
}

.apply-button:focus-visible {
  outline: none;
  background: #68a2ca;
  box-shadow: 0 0 0 3px #ffffff;
}

.apply-button:active {
  background: #68a2ca;
  color: rgba(255, 255, 255, 0.3);
}

.cancel-button {
  padding: 4px 10px 4px 10px;

  font-family: inherit;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;

  border: none;
  background-color: inherit;
}

.cancel-button:hover {
  color: rgba(255, 255, 255, 0.6);
}

.cancel-button:focus-visible {
  outline: none;
  box-shadow: 0 0 0 3px #83b3d3;
  border-radius: 4px;
}

.cancel-button:active {
  color: rgba(255, 255, 255, 0.3);
}

/* ----- сортировка ----- */

.search-container {
  width: 1056px;
  margin: 0 auto;
}

.sorting {
  display: flex;
  align-items: center;
  justify-content: space-between;

  min-height: 48px;
  margin-bottom: 53px;
}

.search {
  width: 350px;
  margin: 0;
  margin-right: auto;

  font-size: 30px;
  line-height: 39px;
  font-weight: 700;
  text-transform: uppercase;
}

.select-control {
  display: block;
  width: 287px;
  padding: 10px 50px 11px 17px;
  margin-right: 81px;
  box-sizing: border-box;

  font-family: inherit;
  color: #333333;
  font-size: 18px;
  line-height: 23px;

  overflow: hidden;
  box-sizing: border-box;
  background-color: #ffffff;
  background: url("../images/icons/dropdown.svg") no-repeat right 19px center;
  border: 2px solid #e5e5e5;
  border-radius: 4px;

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.select-control:hover,
.select-control:focus-visible {
  outline: none;
  border: 2px solid #83b3d3;
}

.select-control:active {
  opacity: 30%;
}

.sorting-view {
  display: grid;
  grid-template-columns: repeat(3, 48px);
  gap: 8px;
}

.sorting-view-button {
  height: 48px;

  box-sizing: border-box;

  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.sorting-view-button:hover,
.sorting-view-button:focus-visible {
  outline: none;
  border: 2px solid #83b3d3;
}

.sorting-view-cards {
  background: url("../images/icons/cards.svg") no-repeat center;
}

.sorting-view-slideshow {
  background: url("../images/icons/slideshow.svg") no-repeat center;
}

.sorting-view-list {
  background: url("../images/icons/list.svg") no-repeat center;
}

.current-view-button {
  border: 2px solid #000000;
}

/* ----- карточки гостиниц ----- */

.hotels-list {
  display: grid;
  grid-template-columns: repeat(3, 339px);
  column-gap: 19px;
  row-gap: 9px;

  margin: 0;
  padding: 0;
  margin-bottom: 34px;

  list-style-type: none;
}

.hotel-card {
  padding: 20px;

  line-height: 23px;
  color: #333333;
}

.hotel-card-image-link:hover {
  opacity: 60%;
}

.hotel-card-image-link {
  display: flex;
  margin-bottom: 17px;
}

.hotel-card-image-link:active {
  opacity: 30%;
}

.hotel-card-image-link:focus-visible {
  outline: none;
  box-shadow: 0 0 0 3px #83b3d3;
}

.hotel-card-image {
  object-fit: contain;
}

.hotel-card-title {
  padding: 0;
  margin: 0;
  margin-bottom: 16px;

  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
}

.hotel-card-menu {
  display: grid;
  grid-template-columns: 133px 26px 140px;
  row-gap: 16px;
}

.hotel-type {
  grid-column: 1 / 2;
}

.hotel-price {
  grid-column: 3 / 4;
}

.hotel-card-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  padding: 8px 15px 8px 15px;

  font-family: inherit;
  color: #ffffff;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;

  background: #756257;
  border-radius: 4px;
}

.hotel-card-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.add-favorits-button {
  grid-column: 3 / 4;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 141px;
  padding: 8px 15px 8px 15px;

  font-family: inherit;
  color: #ffffff;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;

  box-sizing: border-box;
  border-radius: 4px;
  background: #83b3d3;
}

.add-favorits-button:hover {
  background: #68a2ca;
  box-shadow: inset 0 0 0 1px #756257;
}

.add-favorits-button:active {
  color: rgba(255, 255, 255, 0.3);
  background: #68a2ca;
  box-shadow: inset 0 0 0 1px #756257;
}

.add-favorits-button:focus-visible {
  outline: none;
  background: #68a2ca;
  box-shadow: 0 0 0 3px #756257;
}
.rating-star {
  grid-column: 1 / 2;
  display: flex;
}

.rating-star-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  margin: 0;
}

.rating-star-item {
  width: 18px;
  height: 17px;
  padding: 0;
  margin: 0;

  list-style-type: none;
  background-image: url("../images/catalog/icons/star.svg");

  content: "";
}

.rating-star-item:not(:last-child) {
  margin-right: 7px;
}

.rating {
  grid-column: 2 / 4;
  display: flex;
  justify-content: center;
  justify-self: end;
  align-items: center;
  width: 160px;
  padding: 8px 15px 8px 17px;
  box-sizing: border-box;

  font-family: inherit;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
  text-transform: uppercase;
  text-decoration: none;

  background: #f2f2f2;
  border-radius: 4px;
}

.favorite-button {
  background: #7db54f;
}

.favorite-button:hover {
  background: #6c9e42;
  box-shadow: inset 0 0 0 1px #756257;
}

.favorite-button:active {
  color: rgba(255, 255, 255, 0.3);
  background: #6c9e42;
  box-shadow: inset 0 0 0 1px #756257;
}

.favorite-button:focus-visible {
  outline: none;
  background: #6c9e42;
  box-shadow: 0 0 0 3px #756257;
}

/* ----- пагинация ----- */

.download-more {
  display: flex;
  justify-content: center;
  width: 1056px;
  padding-top: 29px;
  padding-bottom: 29px;
  margin-bottom: 30px;

  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

.button-more {
  display: flex;
  justify-content: center;
  width: 620px;
  padding: 17px 100px;

  font-family: inherit;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;

  border: none;
  border-radius: 4px;
  background: #83b3d3;
}

.pagination-container {
  display: flex;
  align-items: center;
}

.pagination {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 8px;

  margin: 0;
  padding: 0;
  margin-right: auto;

  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;

  list-style-type: none;
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 55px;
  min-height: 55px;
  padding: 5px;
  box-sizing: border-box;

  text-decoration: none;
  text-align: center;
  color: #ffffff;

  overflow: hidden;
  background-color: #83b3d3;
  border-radius: 4px;
}

.button-more:hover,
.pagination-link:hover {
  color: #ffffff;

  background-color: #68a2ca;
}

.button-more:focus-visible,
.pagination-link:focus-visible {
  color: #ffffff;

  background-color: #68a2ca;
  outline: none;
  box-shadow: 0 0 0 3px #756257;
}

.button-more:active,
.pagination-link:active {
  color: #68a2ca;

  background-color: #68a2ca;
}

.pagination-current {
  color: #000000;

  background: #f2f2f2;
}

.select-number-hotels {
  display: flex;
  align-items: center;
  margin-left: auto;

  color: #333333;
}

.select-cards {
  width: 160px;
  margin-left: 51px;
  padding: 11px 55px 11px 17px;

  font-family: inherit;
  font-size: 18px;
  line-height: 23px;
  color: #333333;

  box-sizing: border-box;
  background-color: #ffffff;
  background: url("../images/icons/dropdown.svg") no-repeat right 19px center;
  border: 2px solid #e5e5e5;
  border-radius: 4px;

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.select-cards:hover,
.select-cards:focus-visible {
  outline: none;
  border: 2px solid #83b3d3;
}

.select-cards:active {
  opacity: 30%;
}

.newsletter-catalog {
  padding-top: 73px;
  margin-bottom: 71px;

  background: #ffffff;
}

.newsletter-title-catalog {
  margin-bottom: 46px;

  color: #000000;
}

.newsletter-text-catalog {
  margin-bottom: 46px;

  color: #333333;
}
