@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}
body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #fff;
  color: #000;
}

/* Общие стили для всех страниц */
.page-header {
}
.header-logo {
}
.header-logo-image {
}
.header-menu {
}
.menu-list {
}
.menu-item {
}
.menu-link {
  color: inherit;
  text-decoration: none;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
}
.menu-item-current {
}
.menu-user {
}
.visually-hidden {
}
.favorits-counter {
  font-size: 10px;
  line-height: 13px;
}
.header-button {
}
.header-button-link {
  background-color: #756257;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
/* Стили для index.html */

.main-index {
}
.main-header {
  background: #117a65;
  background-image: url("/images/index/background-top.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.logo {
}
.slogan {
  text-align: center;
}
.slogan-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}
.slogan-advantages {
  font-size: 22px;
  line-height: 36px;
  color: #333333;
}
.advantage {
}
.advantages-list {
  text-align: center;
}
.advantages-item {
}
.advantage-title,
.recommendation-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}
.recommendation-title {
  /* Здесь будет другой отступ снизу в отличие от .advantage-title */
}
.advantage-number {
}
.advantage-description,
.recommendation-description {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}
.recommendation {
}
.blue-item {
  background: #83b3d3;
  color: #ffffff;
}
.blue-item .advantage-description {
  color: #ffffff;
}
.white-item {
}
.intrested {
  text-align: center;
}
.intrested-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}
.intrested-text {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}
.intrested-button {
  background-color: #756257;
  color: #fff;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}
.page-footer {
}
.footer-newsletter {
  background: #117a65;
  background-image: url("/images/index/background-bottom.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #ffffff;
  text-align: center;
}
.newsletter-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}
.newsletter-text {
  font-size: 22px;
  line-height: 26px;
}
.newsletter-form {
}
.newsletter-field {
  font-size: 18px;
  line-height: 26px;
}
.newsletter-button {
  background: #83b3d3;
  color: #ffffff;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
}
.footer-social {
}
.footer-social-list {
}
.footer-social-item {
}
.footer-social-icon {
}
.footer-phone-link {
  color: inherit;
  text-decoration: none;
  font-size: 40px;
  line-height: 40px;
}
.about {
}
/* Стили для Catalog.html */

.main-catalog {
}
.catalog-header {
}
.catalog-header-title {
}
.breadcrumbs {
}
.breadcrumbs-item {
}
.breadcrumbs-link {
}
.catalog-hotels {
}
.hotels-filter {
}
.hotels-filter-group {
}
.hotels-filter-title {
}
.hotels-filter-list {
}
.hotels-filter-item {
}
.control {
}
.control-input {
}
.hotels-filter-price {
}
.apply-button {
}
.cancel-button {
}
.search {
}
.search-count {
}
.select-control {
}
.view {
}
.hotels-list {
}
.hotel-card {
}
.hotel-card-image {
}
.hotel-card-title {
}
.type {
}
.price {
}
.hotel-card-link {
}
.add-favorits {
}
.rating {
}
.favorite {
}
.pagination-more {
}
.pagination {
}
.pagination-item {
}
.pagination-link {
}
.pagination-current {
}
.number-hotels {
}
.select-cards {
}
.footer-newsletter {
}
.newsletter-catalog {
}
.newsletter-title {
}
.newsletter-text {
}
.newsletter-form {
}
.newsletter-field {
}
.field-beige {
}
.newsletter-button {
}
.footer-social {
}
.footer-social-list {
}
.footer-social-item {
}
.footer-social-icon {
}
.footer-phone-link {
}
.about {
}
