@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}
html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;

  margin: 0;
  min-height: 100%;

  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;

  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.main-container {
  flex-grow: 1;
}
.page-container {
  width: 1200px;
  margin: 0 auto;
}
/* ------------------- Общие стили для всех страниц -------------------- */
.header-menu {
  position: relative;
  z-index: 2;
  display: flex;
  width: 1060px;
  margin: 0 auto;
}
.header-logo {
  position: absolute;
  width: 139px;
  margin-right: 30px;
}
.menu-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 460px;
  margin: 0;
  padding: 0;
  margin-left: 169px;
  list-style-type: none;
}
.menu-user {
  justify-content: flex-end;
  width: 320px;
  margin-left: auto;
  margin-right: 4px;
}
.menu-item-current::after {
  position: absolute;
  left: 17px;
  right: 17px;
  bottom: -1px;
  height: 2px;
  background-color: #756257;
  content: "";
}
.menu-link {
  position: relative;
  display: block;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: inherit;
  text-decoration: none;
  text-align: center;
  padding: 19px 17px;
}
.menu-link:hover {
  color: #756257;
}
.menu-link:active {
  color: #756257;
  opacity: 30%;
}
.menu-icon {
  fill: #000000;
}
.menu-user-link {
  position: relative;
  padding: 20px 12px;
  min-width: 18px;
  min-height: 18px;
}
.menu-user-link:hover .menu-icon {
  fill: #756257;
}
.menu-user-link:active .menu-icon {
  fill: #756257;
  opacity: 30%;
}
.menu-user-item + .menu-user-item {
  margin-right: 25px;
}
.favorits-counter {
  position: absolute;
  top: 15px;
  left: 24px;

  width: 20px;
  height: 20px;
  padding: 3px;
  box-sizing: border-box;

  font-size: 10px;
  line-height: 13px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;

  background-color: #7db54f;
  border-radius: 50%;
}
.menu-user-link:active .favorits-counter-number {
  color: #ffffff;
  opacity: 30%;
}
.header-button-link {
  display: flex;
  flex-basis: auto;

  padding: 9px 34px;

  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #756257;
  border-radius: 4px;
}

.button-brown:hover {
  background-color: #615048;
}

.button-brown:focus {
  outline: none;
  background-color: #615048;
  box-shadow: 0px 0px 0px 3px #83b3d3;
}

.button-brown:active {
  background-color: #615048;
}

.button-brown:active .button-brown-text {
  opacity: 30%;
}

/* ----- подвал с контактами ----- */
.footer-bottom-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  margin: 0;
  padding: 0;
  margin-left: 62px;

  list-style-type: none;
}
.footer-social-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;
  margin-right: 4px;

  border-radius: 10px;
}
.icon-social {
  fill: #83b3d3;
}
.footer-social-icon:hover .icon-social {
  fill: #68a2ca;
}
.footer-social-icon:active .icon-social {
  fill: #68a2ca;
  opacity: 30%;
}
.footer-social-icon:focus {
  box-shadow: inset 0 0 0 3px #83b3d3;
  outline: none;
}
.footer-social-icon:focus .icon-social {
  fill: #68a2ca;
}
.footer-social-item:last-child {
  margin-right: 0;
}
.footer-phone-link {
  padding: 15px;

  font-size: 40px;
  line-height: 40px;
  color: inherit;
  text-decoration: none;
  text-align: center;

  border-radius: 10px;
}
.footer-phone-link:hover {
  color: 756257;
}
.footer-phone-link:active {
  color: 756257;
  opacity: 30%;
}
.footer-phone-link:focus {
  color: #756257;
  outline: none;
  box-shadow: inset 0 0 0 3px #83b3d3;
}
.about {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 160px;
  height: 70px;
  margin-right: 50px;

  border-radius: 10px;
}
.about-icon {
  fill: #000000;
}
.about:hover .about-icon {
  fill: #756257;
}
.about:active .about-icon {
  fill: #756257;
  opacity: 30%;
}
.about:focus {
  outline: none;
  box-shadow: inset 0 0 0 3px #83b3d3;
}
.about:focus .about-icon {
  fill: #756257;
}

/* -------------------- Стили для index.html --------------------  */

.main-header {
  position: relative;
  background: #5f9ea0;
  background-image: url("../images/index/background-top.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding-top: 51px;
  margin-bottom: 63px;
}
.main-header::after {
  position: absolute;
  right: 0px;
  bottom: 0;
  left: 0px;
  height: 57px;
  background-image: url("../images/index/background-bottom-mask.svg");
  content: "";
}
.logo {
  display: block;
  margin: 0 auto;
  padding-bottom: 82px;
}
/* ----- слоганы ----- */
.slogan {
  text-align: center;
  margin-bottom: 79px;
}
.slogan-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 23px;
}
.slogan-advantages {
  font-size: 22px;
  line-height: 36px;
  color: #333333;
}
/* ----- advantages & recommendations ----- */
.advantage {
  margin-bottom: 91px;
}
.advantages-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(4, 384px);
  grid-template-areas:
    "town town town"
    "house food souvenirs"
    "bridge bridge bridge"
    "area road tourists";
  text-align: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.advantages-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
.item-town {
  grid-area: town;
  flex-direction: row;
  align-items: center;
}
.item-bridge {
  grid-area: bridge;
  flex-direction: row;
  align-items: center;
}
.item-bridge-image,
.item-town-image {
  object-fit: contain;
}
.item-town,
.item-bridge {
  background-color: #83b3d3;
  color: #ffffff;
}
.item-house,
.item-souvenirs,
.item-area,
.item-tourists {
  background-color: rgba(131, 179, 211, 0.12);
}
.item-road {
  background-color: rgba(131, 179, 211, 0.2);
}
.advantage-title,
.recommendation-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
}
.advantage-title {
  margin-bottom: 25px;
}
.recommendation-title {
  margin-bottom: 20px;
}
.advantage-description,
.recommendation-description,
.advantage-number {
  color: #333333;
  margin: 0;
}
.advantage-number {
  margin-bottom: 26px;
}
.item-town .advantage-number,
.item-town .advantage-description,
.item-bridge .advantage-number,
.item-bridge .advantage-description {
  color: #ffffff;
}
.item-town-description,
.item-bridge-description {
  padding: 98px 90px 78px;
}
.item-area,
.item-road,
.item-tourists {
  padding: 98px 75px 77px;
}
.recommendation {
  padding: 184px 75px 79px;
  background-repeat: no-repeat;
  background-position: center bottom 223px;
}
.item-house {
  background-image: url("../images/index/advantage-icons/house.svg");
}
.item-food {
  background-image: url("../images/index/advantage-icons/burger.svg");
}
.item-souvenirs {
  background-image: url("../images/index/advantage-icons/souvenir.svg");
}

/* ----- переход к бронированию ----- */
.intrested {
  text-align: center;
  margin-bottom: 93px;
}
.intrested-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 35px;
}
.intrested-text {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin: 0;
  margin-bottom: 52px;
}
.intrested-button {
  display: flex;
  justify-content: center;
  width: 575px;
  padding: 15px 0;
  margin: 0 auto;
  background-color: #756257;
  color: #ffffff;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 10px;
}
/* ----- подписка ----- */
.footer-newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #117a65;
  background-image: url("../images/index/background-bottom.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #ffffff;

  padding: 94px 0 93px 0;
  margin-bottom: 40px;
}
.newsletter-title {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}
.newsletter-text {
  font-size: 22px;
  line-height: 26px;
  padding: 0;
  margin: 0;
  margin-bottom: 42px;
}
.newsletter-form {
  display: flex;
}
.newsletter-field {
  box-sizing: border-box;
  background-color: #f2f2f2;
  font-size: 18px;
  line-height: 26px;
  border: none;
  width: 600px;
  padding: 0;
  padding: 17px 19px 17px 22px;
  margin: 0;
  border-radius: 10px 0 0 10px;
}

.newsletter-field:hover {
  background-color: #e6e6e6;
}
.newsletter-field:focus {
  outline: none;
  background-color: #e6e6e6;
  box-shadow: 0 0 0 3px #83b3d3;
}
/* .newsletter-field-error {
  background-color: #ffffff;
  box-shadow: inset 0 0 0 2px #ff5757;
} */
.newsletter-button {
  background: #83b3d3;
  color: #ffffff;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  padding: 0;
  margin: 0;
  width: 200px;
  padding: 17px 0;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
}
.newsletter-button:hover {
  background: #68a2ca;
  box-shadow: 0 0 0 0;
}
.newsletter-button:focus {
  outline: none;
  background: #68a2ca;
  box-shadow: 0 0 0 3px #756257;
}
.newsletter-button:active {
  background: #68a2ca;
}
.newsletter-button:active .newsletter-button-text {
  opacity: 30%;
}
/* ------------- Стили для Catalog.html -------------------- */
.header-search {
  position: relative;
  background: #5f9ea0;
  background-image: url("../images/catalog/catalog-background-top.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding: 35px 72px 83px;
  margin-bottom: 44px;
}
.catalog-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  color: #ffffff;
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
}

/* ----- Breadcrumbs ----- */

.breadcrumbs {
  display: flex;

  padding: 0;
  margin: 0;
  margin-bottom: 45px;

  font-size: 16px;
  line-height: 21px;
  color: #ffffff;

  list-style-type: none;
}

.breadcrumbs-item {
  position: relative;

  padding: 3px 8px 3px 8px;
  margin-right: 10px;

  border-radius: 4px;
}

.breadcrumbs-item::after {
  position: absolute;
  top: 2px;
  right: -8px;
  content: url("../images/icons/arrow.svg");
}

.breadcrumbs-item:last-child::after {
  content: none;
}

.breadcrumbs-link {
  text-decoration: none;
  color: #ffffff;
}

.breadcrumbs-icon {
  fill: #ffffff;
}

.breadcrumbs-item:hover {
  cursor: pointer;
}

.breadcrumbs-item:hover .breadcrumbs-link {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-item:hover .breadcrumbs-icon {
  opacity: 60%;
}

.breadcrumbs-item:focus {
  outline: none;
  box-shadow: inset 0 0 0 3px #83b3d3;
}

.breadcrumbs-item:active .breadcrumbs-link {
  color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
}

.breadcrumbs-item:active .breadcrumbs-icon {
  opacity: 30%;
}

/* ----- Фильтр ----- */

.hotels-filter {
  display: flex;
}

.hotels-filter-group {
  color: #ffffff;
}

.hotels-filter-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
}

.hotels-filter-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.control {
  line-height: 23px;
}

.control-input {
  color: #ffffff;
  background-color: inherit;
  font-size: 18px;
  border: 2px solid #ffffff;
}

.filter-buttons {
  display: flex;
  flex-direction: column;
}

.apply-button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 160px;
  height: 48px;
  margin-bottom: 10px;

  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;

  background: #83b3d3;
  border: none;
  border-radius: 4px;
}

.apply-button:hover {
  background: #68a2ca;
}

.cancel-button {
  background-color: inherit;
  color: #ffffff;
  font-size: 18px;
  border: none;
  padding: 10px;
}

/* ----- сортировка ----- */

.search-container {
  width: 1058px;
  margin: 0 auto;
}
.sorting {
  display: flex;
  align-items: center;

  height: 48px;
  margin-bottom: 53px;
}

.search {
  margin: 0;
  margin-right: 192px;

  font-size: 30px;
  line-height: 39px;
  font-weight: 700;
  text-transform: uppercase;
}

.select-control {
  width: 287px;
  padding: 12px 0 13px 19px;
  margin-right: 81px;

  color: #333333;
  font-size: 18px;
  line-height: 23px;

  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.select-control:hover,
.select-control:focus {
  outline: none;
  border: 2px solid #83b3d3;
}

.select-control:active {
  color: rgba(51, 51, 51, 0.3);
  border: 2px solid #e6e6e6;
}

.sorting-view {
  display: grid;
  grid-template-columns: repeat(3, 48px);
  gap: 8px;
}

.sorting-view-button {
  height: 48px;

  box-sizing: border-box;

  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.sorting-view-button:hover,
.sorting-view-button:focus {
  outline: none;
  border: 2px solid #83b3d3;
}

.sorting-view-cards {
  background: url("../images/icons/cards.svg") no-repeat center;
}

.sorting-view-slideshow {
  background: url("../images/icons/slideshow.svg") no-repeat center;
}

.sorting-view-list {
  background: url("../images/icons/list.svg") no-repeat center;
}

.current-view-button {
  border: 2px solid #000000;
}

/* ----- карточки гостиниц ----- */

.hotels-list {
  display: grid;
  grid-template-columns: repeat(3, 339px);
  gap: 10px;

  margin: 0;
  padding: 0;
  margin-bottom: 34px;

  list-style-type: none;
}

.hotel-card {
  padding: 20px;

  line-height: 23px;
  color: #333333;
}
.hotel-card-image-link:hover {
  opacity: 60%;
}

.hotel-card-image-link {
  display: flex;
}

.hotel-card-image-link:focus {
  outline: none;
  box-shadow: 0 0 0 3px #83b3d3;
}

.hotel-card-image-link:active {
  opacity: 30%;
}

.hotel-card-image {
  object-fit: contain;
}

.hotel-card-title {
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
}

.hotel-card-menu {
  display: grid;
  grid-template-columns: 133px 25px 140px;
  row-gap: 16px;
}

.hotel-type {
  grid-column: 1 / 2;
}

.hotel-price {
  grid-column: 3 / 4;
}

.hotel-card-link {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 9px 0 10px 0;

  color: #ffffff;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;

  background: #756257;
  border-radius: 4px;
}

.hotel-card-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.add-favorits-button {
  grid-column: 3 / 4;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 9px 0 10px 0;

  color: #ffffff;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;

  border-radius: 4px;
  background: #83b3d3;
}

.add-favorits-button:hover {
  background: #68a2ca;
  box-shadow: inset 0 0 0 1px #756257;
}

.add-favorits-button:active {
  color: rgba(255, 255, 255, 0.3);
  background: #68a2ca;
  box-shadow: inset 0 0 0 1px #756257;
}

.add-favorits-button:focus {
  outline: none;
  background: #68a2ca;
  box-shadow: 0 0 0 3px #756257;
}

.rating {
  grid-column: 2 / 4;
  display: flex;
  justify-content: center;
  justify-self: end;
  align-items: center;

  width: 160px;
  padding: 9px 0 10px 0;

  font-size: 16px;
  line-height: 21px;
  color: #333333;
  text-transform: uppercase;
  text-decoration: none;

  background: #f2f2f2;
  border-radius: 4px;
}

.favorite-button {
  background: #7db54f;
}

.favorite-button:hover {
  background: #6c9e42;
  box-shadow: inset 0 0 0 1px #756257;
}

.favorite-button:active {
  color: rgba(255, 255, 255, 0.3);
  background: #6c9e42;
  box-shadow: inset 0 0 0 1px #756257;
}

.favorite-button:focus {
  outline: none;
  background: #6c9e42;
  box-shadow: 0 0 0 3px #756257;
}

/* ----- пагинация ----- */

.download-more {
  width: 1056px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;

  text-align: center;

  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

.button-more {
  width: 620px;
  padding: 17px 0;

  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;

  border: none;
  border-radius: 4px;
  background: #83b3d3;
}

.pagination-container {
  display: flex;
  align-items: center;
}

.pagination {
  display: grid;
  grid-template-columns: repeat(6, 55px);
  gap: 8px;

  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;

  list-style-type: none;
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;

  height: 55px;

  text-align: center;

  background-color: #83b3d3;
  border-radius: 4px;
}

.button-more:hover,
.pagination-link:hover {
  color: #ffffff;
  background-color: #68a2ca;
}

.button-more:focus,
.pagination-link:focus {
  color: #ffffff;
  background-color: #68a2ca;
  outline: none;
  box-shadow: 0 0 0 3px #756257;
}

.button-more:active,
.pagination-link:active {
  color: #68a2ca;
  background-color: #68a2ca;
}

.pagination-current {
  background: #f2f2f2;
  color: #000000;
}

.select-number-hotels {
  color: #333333;
  margin-left: auto;
}

.select-cards {
  color: #333333;
  border: 2px solid #e5e5e5;
  margin-left: 51px;
  width: 160px;
  padding: 17px 0 15px 17px;
  border-radius: 4px;
}

.newsletter-catalog {
  background: #ffffff;
}

.newsletter-title-catalog {
  color: #000000;
}

.newsletter-text-catalog {
  color: #333333;
}
